body {
  -webkit-transition: 1s;
  transition: 1s;
}

hr {
  width: 75%;
  margin: 0;
}

.container-fluid {
  width: 100%;
  height: calc(100vh - 50px);
}

.container {
  width: 540px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

header hr {
  margin: 0;
}

header a {
  height: 100%;
  display: block;
  text-decoration: none;
  color: black;
}

header .menuBtn {
  color: black;
}

header .block {
  color: black;
  font-weight: 700;
}

header .block:hover {
  color: #c10015;
}

header .q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  font-size: 0.5rem;
}

header .fa-caret-down:before {
  font-size: 0.7rem;
  color: black;
}

.q-btn--dense .q-btn__wrapper {
  padding: 0;
}

.scroll .q-item {
  font-weight: 700;
}

.scroll .q-item__section {
  min-width: 40px;
}

.scroll .q-item:hover {
  color: green;
}

.scroll .q-item__label:hover {
  color: #c10015;
}

.scroll .q-icon:before {
  font-size: 1rem;
}

.scroll .q-expansion-item__container .q-focusable i:before {
  font-size: 0.025rem;
}

.scroll .q-expansion-item__container .q-item__section--avatar i:before {
  font-size: 1rem;
}

.scroll a {
  text-decoration: none;
}

.scroll a .q-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.scroll a .q-card .q-card__section--vert {
  width: 100%;
  height: 100%;
  padding: 16px 16px 16px 40px !important;
}

.scroll a .q-card .q-card__section--vert .q-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
}

.scroll a .q-card:hover {
  color: #c10015;
  background: rgba(216, 216, 216, 0.349);
}

.scroll a:hover {
  color: #c10015;
}
